/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.eot#{$version}'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.eot#{$version}#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.woff2#{$version}') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.woff#{$version}') format('woff'), /* Modern Browsers */
       url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.ttf#{$version}') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}lato/lato-v13-latin_latin-ext-regular.svg#{$version}#Lato') format('svg'); /* Legacy iOS */
}