$primary-color-base: #F75454;
$primary-color-dark: #E64E4E;
$secondary-color-base: #F78054;

$primary-color-text: $primary-color-base;
$secondary-color-text:#999;

$primary-font:      'Lato', sans-serif;
$pre-code-font:      serif;

$version: '?v=122';
$font-path: '../../fonts/';