/*!
*  Fontisto 1.0.1 by @kenangundogan - http://fontisto.com - @fontisto
*  License - http://fontisto.com/license (CSS: MIT License)
*/
@charset 'utf-8';

@import "reset";
@import "variables";
@import "definations";
@import "pre-code";
@import "fonts";
@import "icon";
@import "scrollbar";


html, body{ position: relative; overflow: hidden;}
body{
    font-family: $primary-font;
    background-color:$primary-color-base;
    width: 350px; margin: 0 auto;
    &:before{
        content: "";
        width: 100%; height: 100%;
        position: absolute; top: 0; left: 0;
        background-position: center;
        background-image: url("../images/background/icon-pattern.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .5;
    }
    &:after{
        content: "";
        position: absolute; z-index: -1; right: 0; left: 0px; top: 0px; margin:auto;
        width: 100%; height: 270px;
        background-image: url("../images/background/masthead-background.svg");
        background-repeat: no-repeat; background-size: 90%; background-position: center;
    }
}

.logo-symbol{
    position: fixed; right: 0; top: 0;
    height: 50px; width: 160px;
    background-image: url("../images/icon/icon-background.svg");
    background-repeat: no-repeat; background-size: cover;
    &:before{
        content: "";
        position: absolute; right: 0; left: 6px; top: 5px; margin:auto;
        width: 40px; height: 40px;
        background-image: url("../images/logo/fontisto-icon-sunset-orange.svg");
        background-repeat: no-repeat; background-size: cover;
        cursor: pointer;
        transition: ease 300ms;
    }
}

.logo{
    display: block;
    height: 55px; width: 200px; margin: 0 auto 20px;
    background-image: url("../images/logo/fontisto-logo-white.svg");
    background-repeat: no-repeat; background-size: cover;
}


.container{
    position: relative; height: 550px;
}

.content{
    width: calc(100% - 80px); margin: 50px auto 20px;
}

.content-detail{
    width: 100%; height: 300px; background-color: $primary-color-base;
}

footer{
    position: relative; width: 100%; padding: 20px; text-align: center; color: #fff;
    span.version{
        font-size: 14px; color:#fff; text-align:center; display:block; width:100%;
        a{
            position: relative;
            color: #fff; border-bottom: dotted 1px rgba(255,255,255,.5); transition: ease-out 300ms;
            &:hover{background-color: $secondary-color-base; padding: 5px; border-color: transparent; border-radius:20px;}
            &:before{
                content: "";
                display: inline-block;
                width: 12px; height:12px; margin-right:5px;
                background-repeat: no-repeat; background-size:cover;
                background-image: url("../images/icon/icon-githup-white.svg");
            }
        }
    }
}




