/*!
*  Fontisto 1.0.1 by @kenangundogan - http://fontisto.com - @fontisto
*  License - http://fontisto.com/license (CSS: MIT License)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, i, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/*INPUT PLACEHOLDER HEAD*/
input:not([type=checkbox]), button, textarea, select {
  display: block;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-radius: 0; }

input:focus, textarea:focus, select:focus, button:focus, a:focus {
  outline: 0; }

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: white !important; }

pre {
  position: relative;
  display: block;
  width: 100%;
  line-height: 0; }
  pre:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent; }
  pre .copy-btn {
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: ease 300ms;
    -o-transition: ease 300ms;
    transition: ease 300ms; }
    pre .copy-btn:hover, pre .copy-btn.selected {
      background-color: #F75454;
      color: #fff; }
  pre ::-moz-selection {
    background: #fee6e6; }
  pre ::selection {
    background: #fee6e6; }

.copy-btn {
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: ease 300ms;
  -o-transition: ease 300ms;
  transition: ease 300ms; }
  .copy-btn:hover, .copy-btn.selected {
    background-color: #F75454;
    color: #fff; }

code {
  line-height: 1;
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px; }
  @media (min-width: 425px) {
    code {
      max-height: 500px; } }
  code span {
    font-size: 14px;
    line-height: 1.5;
    font-size: 14px; }

.tag {
  color: #2f6f9f; }

.s-tag {
  color: #F75454; }

.tag-t {
  color: #666; }

.class-n {
  color: #23B572; }

.class-p {
  color: #e8777c; }

.comment-l {
  color: #999; }

.tag-text {
  color: #333; }

.command-line {
  color: coral;
  font-size: 18px; }

.font-initial {
  font-family: serif; }

/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/lato-v13-latin_latin-ext-regular.eot?v=122");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../../fonts/lato/lato-v13-latin_latin-ext-regular.eot?v=122#iefix") format("embedded-opentype"), url("../../fonts/lato/lato-v13-latin_latin-ext-regular.woff2?v=122") format("woff2"), url("../../fonts/lato/lato-v13-latin_latin-ext-regular.woff?v=122") format("woff"), url("../../fonts/lato/lato-v13-latin_latin-ext-regular.ttf?v=122") format("truetype"), url("../../fonts/lato/lato-v13-latin_latin-ext-regular.svg?v=122#Lato") format("svg");
  /* Legacy iOS */ }

.icon-search {
  position: relative;
  margin-bottom: 20px; }
  .icon-search input {
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-indent: 50px;
    font-size: 16px;
    color: #999;
    border-radius: 50px;
    text-transform: lowercase; }
    .icon-search input::-webkit-input-placeholder {
      color: #999; }
    .icon-search input:-ms-input-placeholder {
      color: #999; }
    .icon-search input::placeholder {
      color: #999; }
  .icon-search i.search, .icon-search i.close {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center; }
  .icon-search i.search {
    width: 15px;
    height: 15px;
    left: 20px;
    background-image: url("../images/icon/icon-search-black.svg");
    background-size: 100%; }
  .icon-search i.close {
    width: 25px;
    height: 25px;
    right: 20px;
    background-image: url("../images/icon/icon-close-white.svg");
    background-size: 40%;
    background-color: #999;
    border-radius: 100%;
    cursor: pointer; }
    .icon-search i.close:hover {
      background-color: #F75454;
      opacity: 1; }

#icon-search-result {
  display: none; }

.icon-category-list .info {
  border-bottom: solid 1px #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .icon-category-list .info .result {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block; }

ul.icon-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  ul.icon-list li {
    cursor: pointer;
    margin: 0px 7px 7px 7px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    ul.icon-list li:last-child() {
      margin-right: 0px; }
    ul.icon-list li:hover {
      background-color: #dedede; }
    ul.icon-list li i {
      color: #999; }
    ul.icon-list li .name, ul.icon-list li .unicode {
      display: none; }

.icon-modal, .icon-detail {
  width: 100%;
  position: relative;
  line-height: 1.3;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .icon-modal .close, .icon-detail .close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 110;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100%;
    background-color: #F75454;
    background-image: url("../images/icon/icon-close-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%; }
    .icon-modal .close:hover, .icon-detail .close:hover {
      background-color: #F78054; }
  .icon-modal .left, .icon-detail .left {
    width: 100%;
    background-color: #dedede;
    padding: 20px;
    text-align: center; }
    .icon-modal .left i, .icon-detail .left i {
      margin-bottom: 10px; }
    .icon-modal .left .fi, .icon-detail .left .fi {
      font-size: 110px; }
    .icon-modal .left .name, .icon-detail .left .name {
      font-weight: bold;
      font-size: 24px;
      display: block;
      margin-bottom: 10px; }
  .icon-modal .right, .icon-detail .right {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px; }
    .icon-modal .right > span, .icon-detail .right > span {
      display: block;
      margin-bottom: 10px; }
    .icon-modal .right .title, .icon-detail .right .title {
      font-size: 24px;
      font-weight: bold;
      color: #333; }
    .icon-modal .right .description, .icon-detail .right .description {
      font-size: 14px;
      color: #666; }
    .icon-modal .right .note, .icon-detail .right .note {
      font-size: 14px;
      color: #666; }
    .icon-modal .right pre code, .icon-detail .right pre code {
      background-color: #fff;
      border-radius: 10px;
      line-height: 0;
      margin-bottom: 20px; }
    .icon-modal .right pre .copy-btn, .icon-detail .right pre .copy-btn {
      background-color: #f1f1f1; }
      .icon-modal .right pre .copy-btn:hover, .icon-modal .right pre .copy-btn.selected, .icon-detail .right pre .copy-btn:hover, .icon-detail .right pre .copy-btn.selected {
        background-color: #F75454 !important; }
  .icon-modal .wrapper, .icon-detail .wrapper {
    position: relative;
    min-height: 350px;
    padding: 20px;
    max-width: 900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .icon-modal.show, .icon-detail.show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .icon-modal .left, .icon-detail .left {
      width: 40%;
      padding: 50px;
      border: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .icon-modal .right, .icon-detail .right {
      width: 60%;
      padding: 50px;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; } }
  @media (max-width: 768px) {
    .icon-modal .left, .icon-detail .left {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    .icon-modal .right, .icon-detail .right {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; } }

.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left; }

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto; }

.ss-scroll {
  position: relative;
  background: #aa0808;
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }

.ss-hidden {
  display: none; }

.ss-container {
  position: relative; }
  .ss-container:before {
    content: "";
    width: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 3px; }

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1; }

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

html, body {
  position: relative;
  overflow: hidden; }

body {
  font-family: "Lato", sans-serif;
  background-color: #F75454;
  width: 350px;
  margin: 0 auto; }
  body:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-image: url("../images/icon-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5; }
  body:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0px;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 270px;
    background-image: url("../images/masthead-background.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center; }

.logo-symbol {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  width: 160px;
  background-image: url("../images/icon-background.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  .logo-symbol:before {
    content: "";
    position: absolute;
    right: 0;
    left: 6px;
    top: 5px;
    margin: auto;
    width: 40px;
    height: 40px;
    background-image: url("../images/logo/fontisto-icon-sunset-orange.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: ease 300ms;
    -o-transition: ease 300ms;
    transition: ease 300ms; }

.logo {
  display: block;
  height: 55px;
  width: 200px;
  margin: 0 auto 20px;
  background-image: url("../images/logo/fontisto-logo-white.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  position: relative;
  height: 550px; }

.content {
  width: calc(100% - 80px);
  margin: 50px auto 20px; }

.content-detail {
  width: 100%;
  height: 300px;
  background-color: #F75454; }

footer {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fff; }
  footer span.version {
    font-size: 14px;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%; }
    footer span.version a {
      position: relative;
      color: #fff;
      border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
      -webkit-transition: ease-out 300ms;
      -o-transition: ease-out 300ms;
      transition: ease-out 300ms; }
      footer span.version a:hover {
        background-color: #F78054;
        padding: 5px;
        border-color: transparent;
        border-radius: 20px; }
      footer span.version a:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/icon/icon-githup-white.svg"); }

/*# sourceMappingURL=style.css.map */